---
layout: default
title: Projects
---

<div class="push-down">
{% for project in site.projects %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>{{ project.title}} </h2>
                <p>{{ project.description}}</p>
                {% if project.github %}<a href="{{ project.github }}">View on Github</a>{% endif %} <br>
                {% if project.website %}<a href="{{ project.website }}">View Website</a>{% endif %}
        </div>
    </div>
{% endfor %}
</div>
