html, body {
	height: 100%;
}

h1 {
	font-size: 800%;
	font-family: 'Poiret One', cursive;
	text-align: center;
	position: relative;
	top: 10%;
	color: white;
}

h2 {
	font-family: 'Poiret One', cursive;
	color: white;
	background-color: 073663;
}

body {
	background-color: #1F5E9A;
}

p {
	color: white;
	font-family: 'Poiret One', cursive;
}

a {
	color: #6F6AC4;
	font-family: 'Poiret One', cursive;
}

a:hover {
	color: #34A87F;

}

.frame{
	height:100%;
	padding: 30px;
}
.panel {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	height: 80%;
	background-color: #5A8CBC;
}

.down-button{
	background-color: #1F1986;
	color: white;
	font-size: 300%;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	border: none;
	border-radius: 20px;	
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.button {
	width: 75%;
	padding: 10px;
	margin: 30px;
	background-color: #34A87F;
	border-radius: 10px;
	line-height: 1em;
}

.header-wrapper {
	background-color: #073663;
	border-radius: 10px;
	/*padding: 2px;*/

}