html, body {
	height: 100%;
}

body {
	background-color: #1F5E9A;
}

h1 {
	font-size: 800%;
	font-family: 'Poiret One', cursive;
	text-align: center;
	position: relative;
	top: 10%;
	color: white;
}

h2 {
	font-family: 'Poiret One', cursive;
	color: white;
	background-color: 073663;
	letter-spacing: 2px;
}


p {
	color: white;
	font-family: 'Poiret One', cursive;
}

a {
	font-weight: bold;
	color: #34A87F;
	font-family: 'Poiret One', cursive;
}

a:hover {
	color: #6F6AC4;

}


li {
	color: white;
}

.frame{
	height:100%;
	padding: 30px;
}

.panel {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	height: 80%;
	background-color: #5A8CBC;
}

.content {
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	border-radius: 10px;
	height: 60%;
	background-color: #2D68A1;

}

.header-wrapper {
	margin-top: 20px;
	padding-top: 2px; 
	padding-left: 10px;
	background-color: #073663;
	border-radius: 10px;
	height: 60px;
}

.arrow-wrapper {
	text-align: center;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 50px solid white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.arrow-up {
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 50px solid white;
	display: inline;
	margin-bottom: 20px;
}


/*
.button {
	width: 75%;
	padding: 10px;
	margin: 30px;
	height: 20px;
	background-color: #1F1986;
	border-radius: 10px;
	line-height: 1em;
}

.button:hover {
	background-color: #130E6A;
}

.button-wrapper {
	padding: 2px;
}
*/




